/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-archivo: "Archivo", sans-serif;
    --font-archivo-black: "Archivo Black", sans-serif;
    --color-light-blue: #5ad2df;
    --color-light-blue-darker: #7de6f1;
    --color-light-blue-green: #2b959c;
    --color-light-blue-green-darker: #176166;
}
